# Copyright (c) 2022-2023 Cryptography Research, Inc. (CRI)

CONFIG_SOC_SERIES_RISCV_CMRT=y
CONFIG_SOC_RISCV_CMRT=y
CONFIG_BOARD_CMRT_FINCHLEY=y
CONFIG_XIP=n
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_RAM_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y
CONFIG_UART_CONSOLE=y
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=750000000
CONFIG_WDT_CMRT=y
CONFIG_CMRT_FBOOT_HAS_ECDSA_P384=y
CONFIG_CMRT_FBOOT_HAS_ECDSA_P521=y
CONFIG_CMRT_ENCRYPTED_IMAGE_SUPPORT=y
CONFIG_CMRT_IMAGE_AUTOLOAD_SUPPORT=n
CONFIG_CMRT_FIPS_140_MODE=y
CONFIG_CMRT_CALIPTRA_SUPPORT=n
CONFIG_CMRT_DATASTORE=y
CONFIG_CMRT_PMU=y
CONFIG_CMRT_FBOOT_HAS_LMS_VERIFY=y
CONFIG_CMRT_FBOOT_HAS_LMS_HSS_VERIFY=y
CONFIG_CMRT_FBOOT_HAS_XMSS_VERIFY=y
CONFIG_CMRT_FBOOT_HAS_XMSS_MT_VERIFY=y
CONFIG_CMRT_MACHINE_RAM_SIZE=0x4a00
CONFIG_CMRT_SHSIG_LIBRARY=y
CONFIG_CMRT_SHSIG_LMS=y
CONFIG_CMRT_SHSIG_LMS_HSS=y
CONFIG_CMRT_SHSIG_XMSS=y
CONFIG_CMRT_SHSIG_XMSS_MT=y
CONFIG_DMA=y
CONFIG_DMA_64BIT=y
CONFIG_DMA_PL330=y
CONFIG_TEST_REBEL_H=y
